:root {
    /* Base font size */
    font-size: 10px;   
    
    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
  }

*{
    padding:0px;
    margin:0px;
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
}

    .BG1{
        background-image: linear-gradient(to right,#ff512f , #dd2476);
    }
    .BG2{
        background-image: linear-gradient(to right,#000428 , #004e92);
    }
    .BG3{
        background-image: linear-gradient(to right,#43cea2 , #185a9d);
    }
    .BG4{
        background-image: linear-gradient(to right,#ec6f66 , #f3a183);
    }
    .BG5{
        background-image: linear-gradient(to left,#c31432 , #240b36);
    }
    .BG6{
        background-image: linear-gradient(to right,#0f0c29 , #302b63, #24243e);
    }
    .BG7{
        background-image: linear-gradient(to right,#fffbd5 , #b20a2c);
    }
    .BG8{
        background-image: linear-gradient(to right,#F3904F , #3B4371);
    }
    .BG9{
        background-image: linear-gradient(to right,#ff4b1f , #1fddff);
    }
    .BG10{
        background-image: linear-gradient(to right,#fc00ff , #00dbde);
    }
    .BGI{
        background-image: linear-gradient(to right,#e43a15 , #e65245);
    }
.BU1{
    background-color: #FFF6CD;
    border:#3B0000 solid 4px;
    font-weight: bold;
}
#game{
    width:900px;
    height: 400px;
    border: 4px rgb(236, 219, 186) solid;
    position:absolute;
    top:25%;
    left:19.5%;
    background-color: white;
}
#protagonist{
    width:60px;
    height:120px;
    background-color: white;
    background-image: url("img/RMs.png");
    position:relative;
    top: 280px;
    left: 300px;
}
/*#protagonist_1{
    position:relative;
    top:0px;
    left:0px;
    animation-delay: 0.3s;
    z-index: 1;
}*/
/*#protagonist_2{
    position:relative;
    top: -120px;
    left:0px;
    animation-delay: 0.6s;
    z-index: 2;
}*/
.animateRun{
    animation: run 0.3s infinite linear ;
}
#villain{
    width:60px;
    height:60px;
    background-color: rgb(200, 75, 49);
    position:relative; 
    top: 220px;
    left: 840px;
}
.animate1{
    animation: jump 0.6s;
}
.animate2{
    animation: jump 0.58s;
}
.animate3{
    animation: jump 0.56s;
}
.animate4{
    animation: jumpR 0.54s;
}
.animate5{
    animation: jumpR 0.52s;
}
.animate6{
    animation: jumpR 0.50s;
}
.animate7{
    animation: jumpC 0.48s;
}
.animate8{
    animation: jumpC 0.46s;
}
.animate9{
    animation: jumpC 0.44s;
}
.animate10{
    animation: jumpC 0.42s;
}

.ani1{
    animation: villain 2s infinite linear;
}
.ani2{
    animation: villain 1.95s infinite linear;
}
.ani3{
    animation: villain 1.9s infinite linear;
}
.ani4{
    animation: villain 1.85s infinite linear;
}
.ani5{
    animation: villain1 1.8s infinite linear;
}
.ani6{
    animation: villain1 1.75s infinite linear;
}
.ani7{
    animation: villain1 1.7s infinite linear;
}
.ani8{
    animation: villain2 1.65s infinite linear;
}
.ani9{
    animation: villain2 1.6s infinite linear;
}
.ani10{
    animation: villain2 1.55s infinite linear;
}

.animateDance{
    animation: dance 2s infinite linear;
}

@keyframes villain{
    0%{ left:840px;}
    100%{left:0px;}
}

@keyframes villain1{
    0%{left:870px;}
    100%{left:0px;}
}

@keyframes villain2{
    0%{left:900px;}
    100%{left:0px;}
}

@keyframes jump{
    0%{top: 280px;background-image: url("img/JM1.png");}
    10%{top:280px;background-image: url("img/JM1.png");}
    11%{top:280px;background-image: url("img/JM2.png");}
    15%{top:280px;background-image: url("img/JM2.png");}
    16%{top:280px;background-image: url("img/JM3.png");}
    /*10%{top:320 px; height:80px;}
    25%{top:280px;height:120px;}*/
    35%{top: 140px;background-image: url("img/JM3.png");}
    65%{top: 140px;background-image: url("img/JM3.png");}
    /*75%{top:320 px; height:80px;}
    90%{top:280px;height:120px;}*/
    84%{top: 280px;background-image: url("img/JM3.png");}
    85%{top:280px;background-image: url("img/JM2.png");}
    89%{top:280px;background-image: url("img/JM2.png");}
    90%{top:280px;background-image: url("img/JM1.png");}
    100%{top:280px;background-image: url("img/JM1.png");}
}

@keyframes jumpR{
    0%{top: 280px;background-image: url("img/rolling_jump/JMR1.png");}
    10%{top:280px;background-image: url("img/rolling_jump/JMR1.png");}
    11%{top:280px;background-image: url("img/rolling_jump/JMR2.png");}
    15%{top:280px;background-image: url("img/rolling_jump/JMR2.png");}
    16%{top:280px;background-image: url("img/rolling_jump/JMR3.png");}
    /*10%{top:320 px; height:80px;}
    25%{top:280px;height:120px;}*/
    35%{top: 140px;background-image: url("img/rolling_jump/JMR3.png");}
    65%{top: 140px;background-image: url("img/rolling_jump/JMR4.png");}
    /*75%{top:320 px; height:80px;}
    90%{top:280px;height:120px;}*/
    84%{top: 280px;background-image: url("img/rolling_jump/JMR4.png");}
    85%{top:280px;background-image: url("img/rolling_jump/JMR2.png");}
    89%{top:280px;background-image: url("img/rolling_jump/JMR2.png");}
    90%{top:280px;background-image: url("img/rolling_jump/JMR1.png");}
    100%{top:280px;background-image: url("img/rolling_jump/JMR1.png");}
}

@keyframes jumpC{
    0%{top: 280px;background-image: url("img/cartwheel_jump/JMC1.png");}
    10%{top:280px;background-image: url("img/cartwheel_jump/JMC1.png");}
    11%{top:280px;background-image: url("img/cartwheel_jump/JMC2.png");}
    15%{top:280px;background-image: url("img/cartwheel_jump/JMC2.png");}
    16%{top:280px;background-image: url("img/cartwheel_jump/JMC2.png");}
    /*10%{top:320 px; height:80px;}
    25%{top:280px;height:120px;}*/
    35%{top: 140px;background-image: url("img/cartwheel_jump/JMC3.png");}
    65%{top: 140px;background-image: url("img/cartwheel_jump/JMC3.png");}
    /*75%{top:320 px; height:80px;}
    90%{top:280px;height:120px;}*/
    84%{top: 280px;background-image: url("img/cartwheel_jump/JMC4.png");}
    85%{top:280px;background-image: url("img/cartwheel_jump/JMC4.png");}
    89%{top:280px;background-image: url("img/cartwheel_jump/JMC4.png");}
    90%{top:280px;background-image: url("img/cartwheel_jump/JMC5.png");}
    100%{top:280px;background-image: url("img/cartwheel_jump/JMC5.png");}
}

@keyframes run{
    0%{background-image: url("img/RMs.png");}
    12.5%{background-image: url("img/RMs.png");}
    12.6%{background-image: url("img/RMm.png");}
    37.5%{background-image: url("img/RMm.png");}
    37.6%{background-image: url("img/RMl.png");}
    62.5%{background-image: url("img/RMl.png");}
    62.6%{background-image: url("img/RMm.png");}
    87.5%{background-image: url("img/RMm.png");}
    87.6%{background-image: url("img/RMs.png");}
    100%{background-image: url("img/RMs.png");}
}

@keyframes dance{
    0%{background-image: url("img/WIN/DM2.png");}
    12.5%{background-image: url("img/WIN/DM1.png");}
    12.6%{background-image: url("img/WIN/DM2.png");}
    37.5%{background-image: url("img/WIN/DM2.png");}
    37.6%{background-image: url("img/WIN/DM3.png");}
    47.6%{background-image: url("img/WIN/DM2.png");}
    52.6%{background-image: url("img/WIN/DM5.png");}
    62.5%{background-image: url("img/WIN/DM4.png");}
    62.6%{background-image: url("img/WIN/DM5.png");}
    87.5%{background-image: url("img/WIN/DM5.png");}
    87.6%{background-image: url("img/WIN/DM6.png");}
    100%{background-image: url("img/WIN/DM5.png");}
}


#JUMP{
    position:absolute;
    top:640px;
    left:450px;
    width:80px;
    height: 40px;
    /*background-color: turquoise;*/
    color:white;
    border-radius: 200px;
    font-weight: bold;
    /*background-color: #74C7B8;*/
    border:#FFCDA3 solid 4px;
}

#START{
    position:absolute;
    top:640px;
    left:650px;
    width:80px;
    height: 40px;
    /*background-color: rgb(43, 255, 0);*/
    color:white;
    border-radius: 200px;
    font-weight:bold;
    /*background-color: #74C7B8;*/
    border:#FFCDA3 solid 4px;
}

#RESTART{
    position:absolute;
    top:640px;
    left:850px;
    width:90px;
    height: 40px;
    /*background-color: rgb(43, 255, 0);*/
    color:white;
    border-radius: 200px;

    /*background-color: white;*/
    border:#FFCDA3 solid 4px;
    font-weight: bold;
}

#Sore{
    /*
    width:250px;
    height: 80px;
    */
    /*border: 4px rgb(236, 219, 186) solid;*/
    position:absolute;
    top:250px;
    left:1250px;
    border-radius: 2rem;
    /*
    color: white;
    padding: 10px;
    margin:10px;
    */
}

#Lev{
    /*
    width:250px;
    height: 80px;
    border: 4px rgb(236, 219, 186) solid;
    */
    position:absolute;
    top:400px;
    left:1250px;
    border-radius: 2rem;
    /*
    color: white;
    padding: 10px;
    margin:10px;
    */
}
#copy{
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0px;
    text-align: center;
    bottom:0px;
   /* background-color: ;*/
}
#instruc{
    width:250px;
    height: 80px;
    position:absolute;
    top:250px;
    left:10px;
  
  }
  
  body {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;  
    background: #000;
    min-height: 100vh;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 1.5rem 4rem 2.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;     
  }
  
  h2::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  h2::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  h2:focus {
    outline: none;
  }
  
  /* Animate neon flicker */
  @keyframes flicker {
      
      0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        
          text-shadow:
              -0.2rem -0.2rem 1rem #fff,
              0.2rem 0.2rem 1rem #fff,
              0 0 2rem var(--neon-text-color),
              0 0 4rem var(--neon-text-color),
              0 0 6rem var(--neon-text-color),
              0 0 8rem var(--neon-text-color),
              0 0 10rem var(--neon-text-color);
          
          box-shadow:
              0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color),
              0 0 4rem var(--neon-border-color),
              inset 0 0 4rem var(--neon-border-color);        
      }
      
      20%, 24%, 55% {        
          text-shadow: none;
          box-shadow: none;
      }    
  }
  
  
  /*CSS for glitchy text*/
  
  #heading{
    position:absolute;
    top: 0px;
    left: 400px;
  }
  
  .hero {
    font-size: clamp(40px, 10vw, 100px);
    line-height: 1;
    /*display: inline-block;*/
    color: #fff;
    z-index: 2;
    letter-spacing: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    /* Bright things in dark environments usually cast that light, giving off a glow */
    /*filter: drop-shadow(0 1px 3px);*/
  }
  
  .demo {
    height: 100px;
    background: #fff;
  }
  
  .layers {
    position: relative;
  }
  
  .layers::before,
  .layers::after {
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
  }
  
  .layers::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
  }
  
  .layers::after {
    top: 5px;
    left: -10px;
    color: #1bc7fb;
  }
  
  .single-path {
    clip-path: polygon(
      0% 12%,
      53% 12%,
      53% 26%,
      25% 26%,
      25% 86%,
      31% 86%,
      31% 0%,
      53% 0%,
      53% 84%,
      92% 84%,
      92% 82%,
      70% 82%,
      70% 29%,
      78% 29%,
      78% 65%,
      69% 65%,
      69% 66%,
      77% 66%,
      77% 45%,
      85% 45%,
      85% 26%,
      97% 26%,
      97% 28%,
      84% 28%,
      84% 34%,
      54% 34%,
      54% 89%,
      30% 89%,
      30% 58%,
      83% 58%,
      83% 5%,
      68% 5%,
      68% 36%,
      62% 36%,
      62% 1%,
      12% 1%,
      12% 34%,
      60% 34%,
      60% 57%,
      98% 57%,
      98% 83%,
      1% 83%,
      1% 53%,
      91% 53%,
      91% 84%,
      8% 84%,
      8% 83%,
      4% 83%
    );
  }
  
  .paths {
    animation: paths 5s step-end infinite;
  }
  
  @keyframes paths {
    0% {
      clip-path: polygon(
        0% 43%,
        83% 43%,
        83% 22%,
        23% 22%,
        23% 24%,
        91% 24%,
        91% 26%,
        18% 26%,
        18% 83%,
        29% 83%,
        29% 17%,
        41% 17%,
        41% 39%,
        18% 39%,
        18% 82%,
        54% 82%,
        54% 88%,
        19% 88%,
        19% 4%,
        39% 4%,
        39% 14%,
        76% 14%,
        76% 52%,
        23% 52%,
        23% 35%,
        19% 35%,
        19% 8%,
        36% 8%,
        36% 31%,
        73% 31%,
        73% 16%,
        1% 16%,
        1% 56%,
        50% 56%,
        50% 8%
      );
    }
  
    5% {
      clip-path: polygon(
        0% 29%,
        44% 29%,
        44% 83%,
        94% 83%,
        94% 56%,
        11% 56%,
        11% 64%,
        94% 64%,
        94% 70%,
        88% 70%,
        88% 32%,
        18% 32%,
        18% 96%,
        10% 96%,
        10% 62%,
        9% 62%,
        9% 84%,
        68% 84%,
        68% 50%,
        52% 50%,
        52% 55%,
        35% 55%,
        35% 87%,
        25% 87%,
        25% 39%,
        15% 39%,
        15% 88%,
        52% 88%
      );
    }
  
    30% {
      clip-path: polygon(
        0% 53%,
        93% 53%,
        93% 62%,
        68% 62%,
        68% 37%,
        97% 37%,
        97% 89%,
        13% 89%,
        13% 45%,
        51% 45%,
        51% 88%,
        17% 88%,
        17% 54%,
        81% 54%,
        81% 75%,
        79% 75%,
        79% 76%,
        38% 76%,
        38% 28%,
        61% 28%,
        61% 12%,
        55% 12%,
        55% 62%,
        68% 62%,
        68% 51%,
        0% 51%,
        0% 92%,
        63% 92%,
        63% 4%,
        65% 4%
      );
    }
  
    45% {
      clip-path: polygon(
        0% 33%,
        2% 33%,
        2% 69%,
        58% 69%,
        58% 94%,
        55% 94%,
        55% 25%,
        33% 25%,
        33% 85%,
        16% 85%,
        16% 19%,
        5% 19%,
        5% 20%,
        79% 20%,
        79% 96%,
        93% 96%,
        93% 50%,
        5% 50%,
        5% 74%,
        55% 74%,
        55% 57%,
        96% 57%,
        96% 59%,
        87% 59%,
        87% 65%,
        82% 65%,
        82% 39%,
        63% 39%,
        63% 92%,
        4% 92%,
        4% 36%,
        24% 36%,
        24% 70%,
        1% 70%,
        1% 43%,
        15% 43%,
        15% 28%,
        23% 28%,
        23% 71%,
        90% 71%,
        90% 86%,
        97% 86%,
        97% 1%,
        60% 1%,
        60% 67%,
        71% 67%,
        71% 91%,
        17% 91%,
        17% 14%,
        39% 14%,
        39% 30%,
        58% 30%,
        58% 11%,
        52% 11%,
        52% 83%,
        68% 83%
      );
    }
  
    76% {
      clip-path: polygon(
        0% 26%,
        15% 26%,
        15% 73%,
        72% 73%,
        72% 70%,
        77% 70%,
        77% 75%,
        8% 75%,
        8% 42%,
        4% 42%,
        4% 61%,
        17% 61%,
        17% 12%,
        26% 12%,
        26% 63%,
        73% 63%,
        73% 43%,
        90% 43%,
        90% 67%,
        50% 67%,
        50% 41%,
        42% 41%,
        42% 46%,
        50% 46%,
        50% 84%,
        96% 84%,
        96% 78%,
        49% 78%,
        49% 25%,
        63% 25%,
        63% 14%
      );
    }
  
    90% {
      clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
      );
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      clip-path: none;
    }
  }
  
  .movement {
    /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
    position: relative;
    animation: movement 8s step-end infinite;
  }
  
  @keyframes movement {
    0% {
      top: 0px;
      left: -20px;
    }
  
    15% {
      top: 10px;
      left: 10px;
    }
  
    60% {
      top: 5px;
      left: -10px;
    }
  
    75% {
      top: -5px;
      left: 20px;
    }
  
    100% {
      top: 10px;
      left: 5px;
    }
  }
  
  .opacity {
    animation: opacity 5s step-end infinite;
  }
  
  @keyframes opacity {
    0% {
      opacity: 0.1;
    }
  
    5% {
      opacity: 0.7;
    }
  
    30% {
      opacity: 0.4;
    }
  
    45% {
      opacity: 0.6;
    }
  
    76% {
      opacity: 0.4;
    }
  
    90% {
      opacity: 0.8;
    }
  
    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
      opacity: 0;
    }
  }
  
  .font {
    animation: font 7s step-end infinite;
  }
  
  @keyframes font {
    0% {
      font-weight: 100;
      color: #e0287d;
      filter: blur(3px);
    }
  
    20% {
      font-weight: 500;
      color: #fff;
      filter: blur(0);
    }
  
    50% {
      font-weight: 300;
      color: #1bc7fb;
      filter: blur(2px);
    }
  
    60% {
      font-weight: 700;
      color: #fff;
      filter: blur(0);
    }
  
    90% {
      font-weight: 500;
      color: #e0287d;
      filter: blur(6px);
    }
  }
  
  .glitch span {
    animation: paths 5s step-end infinite;
  }
  
  .glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 8s step-end infinite, movement 10s step-end infinite;
  }
  
  .glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
      font 7s step-end infinite, movement 8s step-end infinite;
  }
  .environment {
    position: absolute;
    /*
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;*/
  }
  
  
  /*css for our names*/
  #creators{
    position:absolute;
    left:1230px ;
    top: 575px;
    border-radius: 2rem;
  }
  @import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: #EEEEF5;
  }
  
  
  .names {
    font-size: 2vw;
    line-height: 2vw;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    background: url("Picture1.jpg");
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards;
  }
  
  @keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
  }

.fadingEffect{
  animation: fader 5s linear;
}

@keyframes fader{
  0%{opacity:1;}
  100%{opacity:0;}
}

#rules{
  opacity:0;
  width:400px;
  height:150px;
  position:absolute;
  top:27%;
  left:52%;
}

#Alterative{
  position: absolute;
  height:20px;
  width:100px;
  top:10px;
  left:1200px;
  color:white;
  border-radius: 200px;
  text-align: center;
  /*background-color: white;*/
  border:#FFCDA3 solid 4px;
  font-weight: bold;
}